fastapi
uvicorn
langchain
langchain-core
langchain-experimental
langchain-google-genai
langchain-groq
langgraph
google-generativeai
requests
bcrypt
supabase
python-dotenv
pydantic
langchain-google-genai
langchain-groq
email-validator
python-multipart
langchain-community
redis
itsdangerous
opencv-python
mediapipe
numpy
